.userPrnt {
    margin-top: 150px;
    position: fixed;
    font-family: -webkit-body;
    max-width: 100%;
}

.tblHdr {
    display: 'inline-block';
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.aaply{
    background: #fff !important;
    color:#00c5ff !important;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

a:hover {
    color: #00c5ff;
    text-decoration: none;
}