  .hdr-logo {
    animation: App-logo-spin infinite 20s linear;
      width: 15%;
      float: left;
  }
  
  .hdr-header {
      background-color: #fff;
      position: fixed;
      width:100%;
      padding: 10px;
      color: #00c5ff;
      height: 80px;
      text-align: center;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .hdr-title {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 15px;
    width: 75%;
    display: inline-block;
  }
  
  .hdr-intro {
    font-size: large;
  }
  .authSec {
    display: inline-block;
  }

  .loginLbl {
      float:left;
      font-size: 18px;
      cursor: pointer;
  }

  .registerLbl {
    float:right;
    cursor: pointer;
}

.lognMdl {
    text-align: center;
}

.clsbtn {
    margin-top: -70px;
    font-size: 30px;
}

.lgnBtn {
  text-align: center;
}

.lgnBtnMn {
  width: 40%;
}

.lgnpopAlgn {
  width: 60%;
  margin-left: 20%;
}

.lgnPophdr {
  margin: 25px 0 0 0;
  color: #28a745;
}
.dlgLogin{
  margin-top: 30%;
}

.emalinp {
  border: 1px solid #28a745;
  color: #00c5ff;
}

.btn {
  background-color: transparent !important;
  color: #28a745 !important;
  margin-top: 20px !important;
  float:none !important;
}