.App {
  /* text-align: center; */
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
    width: 15%;
    float: left;
}

.App-header {
  background-color: #fff;
    height: 50px;
    padding: 10px;
    color: #00c5ff;
    border: 1px solid #000;
}

.App-title {
  font-size: 1.5em;
  margin-left: 40%;
}

.App-intro {
  font-size: large;
}
/* 
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
} */

.parallax {
  background-image: url("./img/par1.jpg");
  min-height:500px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.parallax2 {
  background-image: url("./img/par2.jpg");
  min-height:500px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}

.parallax3 {
  background-image: url("./img/par3.jpg");
  min-height:500px;
  background-attachment:fixed;
  background-position:center;
  background-repeat:no-repeat;
  background-size:cover;
}
    
.btn {
  background-color: black;
  color:antiquewhite;
  float:right;
  margin-top:20px;
  margin-right: 20px;
}

.abc1 {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.abc2 {
  text-align:center;
}

.abc3 {
  color: #777;
  background-color:white;
  text-align:center;
  padding:50px 80px;
  text-align: justify;
}

.abc4 {
  text-align:center; 
  font-size: 50px
}